ion-card {
    border-radius: 18px !important;
    border-width: 9px;
    border-style: solid;
    border-color: #26b4d7;
    margin: 10px 0 !important;
    width: 100% !important;
    position: relative;

    img:after {
        content: ' ';
        background: rgba(39,62,84,0.82);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
    }

    .card-title {
        position: absolute;
        top: -46px;
        width: 100%;
        left: 0;
        padding: 8px 16px;
    }

    ion-card-content {
        position: relative;
    }

    &.locked:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: 0.4;
    }
}
ion-fab {
    &[right] {
        margin-right: -10px !important;
    }
    &[top] {
        margin-top: -10px !important;
    }
}
.scroll-content {
    padding: 0 10px;
}