.card-title {
	position: absolute;
    top: -46px;
    width: 100%;
    left: 0;
    padding: 8px 16px;
}
.scroll-content {
    padding: 0 10px;
}
ion-card-content {
	position: relative;
}
ion-card img:after {
    content: ' ';
    background: rgba(39,62,84,0.82);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}
.card-md {
    border-radius: 18px;
    border-width: 9px;
    border-style: solid;
    border-color: #26b4d7;
    margin: 10px 0;
    width: 100%;
}