<ion-header class="navbar cornicetta">
  <button ion-button ion-only class="btn-menu btn-clear" (click)="goToChildrenPage()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/imgs/logo.png" >
  </ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm *ngFor="let tale of tales">
          <ion-card [ngClass]="{'locked' : (!tale.available), 'unlocked' : (tale.available)}">
          <!-- <ion-card class="locked"> -->
            <img src="{{tale.preview_image}}" (click)="goToTalePage($event, tale)"/>
            <ion-fab right top>
              <button ion-fab mini>
                <ion-icon name="book"></ion-icon>
              </button>
            </ion-fab>
            <ion-fab center middle slot="fixed" *ngIf="!tale.available">
              <button ion-fab mini (click)="purchaseTale($event, tale)">
                <ion-icon name="lock"></ion-icon>
              </button>
            </ion-fab>
            <ion-card-content (click)="goToTalePage($event, tale)">
              <ion-card-title>
                {{tale.title}}
              </ion-card-title>
              <p>{{tale.description}}</p>
            </ion-card-content>
          </ion-card>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>












