page-buy-add2cart {

    ion-list ion-item .item-inner {
        padding: 0 !important;
        ion-label {
            margin: 13px 0 !important;
        }
    }
    ion-textarea textarea {
        width: 100% !important;
        line-height: 1em !important;
    }

    .primary {
        color: color($colors, primary);
    }
}
