// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

ion-icon { color: primary; }

.button-md {
	border-radius: 9px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.circular-button {
  border-radius: 50%;
  height: 5rem!important;
  width: 5rem!important;
}
.circular-button.button-small {
  height: 3.6rem!important;
  width: 3.6rem!important;
}

ion-navbar {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.toolbar-background-md {
	background-color: #fff;
	border-color: #fff;
}
.toolbar-title-md {
	color: color($colors, primary, base) !important;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before { 
	background-image: url("../assets/imgs/cornicetta.png");
	height: 10px;
}
ion-navbar button {
	position: absolute !important;
	color: color($colors, primary, base) !important;
	z-index: 100;
}
ion-navbar ion-title {
    text-align: center;
}
ion-navbar ion-title img {
	width: 128px;
}

.item-md {
	color: color($colors, primary, base) !important;
}
ion-list.with-wave {
	.item-md {
		padding-bottom: 15px;
	}
	.item-md:after {
	    content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-image: url(../assets/imgs/wave.png);
	    height: 15px;
	}
}
.list-md .item-block .item-inner, .item-md:last-child {
	border-bottom: none;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img {
	width: 96px;
	height: 96px;
}
.item-md h2 {
	font-size: 3.6rem;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: color($colors, secondary, base);
    -webkit-box-shadow: inset 0 -1px 0 0 color($colors, secondary, base);
    box-shadow: inset 0 -1px 0 0 color($colors, secondary, base);
}

.auth-page {
  background-color: #fff;

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

    .login-content {
      width: 86%;

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, primary);
          }

          input {
          	padding: 5px;
            color: color($colors, primary);
          }

          ion-icon {
          	margin: 11px 0 10px;
          	width: 24px;
		    text-align: center;
          }
        }
      }

      ion-grid .row{
      	margin: auto -10px;
      }
    }
  }
}

.btn-facebook {
  background-color: color($colors, facebook);
}

.btn-twitter {
  background-color: color($colors, twitter);
}

.btn-gplus {
  background-color: color($colors, gplus);
}

// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
button.discreto:not(.fab-close-active) {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}
.fab-md-in-list {
  color: #fff;
  background-color: color($colors, secondary);
}