// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

ion-icon { color: primary; }

.button-md {
	border-radius: 9px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.circular-button {
  border-radius: 50%;
  height: 5rem!important;
  width: 5rem!important;
}
.circular-button.button-small {
  height: 3.6rem!important;
  width: 3.6rem!important;
}

.navbar {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 4px;
    min-height: 56px;
}
.toolbar-background-md {
	background-color: #fff;
	border-color: #fff;
}
.toolbar-title-md {
	color: color($colors, primary, base) !important;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before { 
	background-image: url("../assets/imgs/cornicetta.png");
	height: 10px;
}
.navbar button {
	position: absolute !important;
	color: color($colors, primary, base) !important;
	z-index: 100;
}
.navbar ion-title {
    text-align: center;
}
.navbar ion-title img {
	width: 128px;
}

button.btn-menu ion-icon {
  padding: 0 6px;
  font-size: 2.4rem;
}
button.btn-clear {
  color: color($colors, primary, base);
  background-color: transparent;
  font-size: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover {
    background-color: transparent !important;
  }
}
.navbar button.btn-menu {
  margin: 6px 6px 0 6px;
  padding: 0 2px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  min-width: 44px;
}

ion-navbar .btn-menu {
  display: inline-block !important;
}

.item-md {
	color: color($colors, primary, base) !important;
}
ion-list.with-wave {
	.item-md {
		padding-bottom: 15px;
	}
	.item-md:after {
	    content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-image: url(../assets/imgs/wave.png);
	    height: 15px;
	}
}
.list-md .item-block .item-inner, .item-md:last-child {
  border-bottom: none;
}
.item-md.item-block .item-inner {
  padding-right: 0;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img {
	width: 96px;
	height: 96px;
}
.item-md h2 {
	font-size: 3.6rem;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  
    border-bottom-color: color($colors, secondary, base);
    -webkit-box-shadow: inset 0 -1px 0 0 color($colors, secondary, base);
    box-shadow: inset 0 -1px 0 0 color($colors, secondary, base);
}

.auth-page {
  background-color: #fff;

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

    .login-content {
      width: 86%;

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, primary);
          }

          input {
          	padding: 5px;
            color: color($colors, primary);
          }

          ion-icon {
          	margin: 11px 0 10px;
          	width: 24px;
		    text-align: center;
          }
        }
      }

      ion-grid .row{
      	margin: auto -10px;
      }
    }
  }
}

.btn-facebook {
  background-color: color($colors, facebook);
}

.btn-twitter {
  background-color: color($colors, twitter);
}

.btn-gplus {
  background-color: color($colors, gplus);
}

// Animate CSS
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
.discreto, button.discreto:not(.fab-close-active) {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}
.fab-md-in-list {
  color: #fff;
  background-color: color($colors, secondary);
}
.label[stacked] {
  font-size: 1.2em;
}
.text-input {
  font-size: 1.4em;
}
ion-card {
  border-radius: 18px !important;
  border-width: 9px;
  border-style: solid;
  border-color: #26b4d7;
  margin: 10px 0 0 !important;
  width: 100% !important;
  position: relative;

  ion-card-header {
    padding: 0 !important;
    position: relative;

    img:after {
      content: ' ';
      background: rgba(39,62,84,0.82);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
    }

    ion-label.price {
      color: #fff;
      font-size: 40px;
      padding: 0 10px;
      margin: auto;
    }
  }

  .card-title {
      width: 100%;
      padding: 0;
  }

  ion-card-content {
      position: relative;
      padding: 0px 16px !important;
  }

  &.locked:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #000;
      opacity: 0.4;
  }
}
ion-col {
  ion-fab {
    &[right] {
      margin-right: -10px !important;
    }
    &[left] {
      margin-left: -10px !important;
    }
    &[top] {
      margin-top: -10px !important;
    }
  }
}
.scroll-content {
  padding: 0 10px;
}

button.action-order {
  font-size: 1.6em;
}
.checkout-trip {
  ion-label {
    font-size: 1.2em;
  }
}

.text-input {
  background-color: rgba(38, 180, 215, 0.1) !important;
  width: calc(100%) !important;
    margin-right: 0;
}
h2 {
  margin-top: 1.8rem !important;
  margin-bottom: 0;
}
ion-item.titolo h2 {
  margin: 0 !important;
}
ion-item.titolo h2 {
  margin: 0 !important;
}

ion-item ion-label {
  margin: 0 !important;
}

.result-badge {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-top: 25%;
  ion-icon {
    margin: auto;
    font-size: 13rem;
    line-height: 190px;
  }
  &.success {
    border: .25em solid rgba(115, 207, 61,.3);
    color: rgb(115, 207, 61);
  }
  &.danger {
    border: .25em solid rgba(245, 61, 61,.3);
    color: rgb(245, 61, 61);
  }
}

.navigation__buttons .button { text-align: center; width: 100%; }
