page-children {
	.item-md .edit-child {
	    color: #26b4d7;
	    background-color: transparent;
	    font-size: 100%;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.add-child {
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
}