page-children {
	.edit-child {
	    color: #26b4d7;
	    background-color: transparent;
	    font-size: 100% !important;
	    -webkit-box-shadow: none;
		box-shadow: none;
		
		&:hover {
			background-color: transparent !important;
		}
	}
	.add-child {
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
}